BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  BeforeElse: true

AllowShortIfStatementsOnASingleLine: WithoutElse
BinPackParameters: true
BinPackArguments: true
IndentWidth: 4
TabWidth: 4
PointerAlignment: Left
DerivePointerAlignment: false
UseTab: Never
AccessModifierOffset: -4
FixNamespaceComments: true
NamespaceIndentation: All
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: Empty
AlignConsecutiveMacros: true
ColumnLimit: 0
SortIncludes: true
IncludeBlocks: Regroup
IncludeIsMainRegex: '(_test)?$'  # its .h file
IncludeCategories:
  # Headers in <> with extension.
  - Regex:           '<([A-Za-z0-9.\/-_])+>'
    Priority:        1
  # Headers in "" with extension.
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        2

